appnope==0.1.0
beautifulsoup4==4.6.0
bleach==2.1.1
boto==2.48.0
cchardet==1.1.3
certifi==2017.11.5
chardet==3.0.4
citipy==0.0.5
click==6.7
conda==4.3.16
configparser==3.5.0
cycler==0.10.0
datadotworld==1.4.2
datapackage==0.8.9
decorator==4.1.2
dictset==0.3.1.2
Django==2.0
entrypoints==0.2.3
et-xmlfile==1.0.1
ez-setup==0.9
flake8==3.5.0
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
future==0.16.0
gunicorn==19.7.1
html5lib==1.0b10
idna==2.6
ijson==2.3
inflection==0.3.1
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.4
isodate==0.6.0
itsdangerous==0.24
jdcal==1.3
jedi==0.11.0
Jinja2==2.10
jsonlines==1.2.0
jsonschema==2.6.0
jsontableschema==0.10.1
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
kdtree==0.16
linear-tsv==1.0.0
lxml==4.1.1
MarkupSafe==1.0
matplotlib==2.1.0
mccabe==0.6.1
mistune==0.8.1
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nltk==3.4.5
notebook==5.2.1
numpy==1.13.3
oauthlib==2.0.6
openpyxl==2.4.9
openweathermapy==0.6.6
pandas==0.21.0
pandocfilters==1.4.2
parso==0.1.0
patsy==0.4.1
pew==1.1.0
pexpect==4.3.0
pickleshare==0.7.4
pipenv==8.3.2
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycodestyle==2.3.1
pycosat==0.6.3
pyflakes==1.6.0
Pygments==2.2.0
PyHive==0.5.0
pymongo==3.6.0
pymssql==2.1.3
PyMySQL==0.7.11
pyodbc==4.0.21
pyparsing==2.2.0
pystaggrelite3==0.1.3
python-dateutil==2.6.1
pytz==2017.3
pyvttbl==0.5.2.2
pyzmq==16.0.3
qds-sdk==1.9.8
qtconsole==4.3.1
requests==2.18.4
requests-oauthlib==0.8.0
rfc3986==0.4.1
ruamel.yaml==0.15.34
scipy==1.0.0
seaborn==0.8.1
selenium==3.8.1
simplegeneric==0.8.1
six==1.11.0
sodapy==1.4.5
splinter==0.7.7
SQLAlchemy==1.1.15
statsmodels==0.8.0
tabulator==1.4.1
terminado==0.6
testpath==0.3.1
textblob==0.13.1
tornado==4.5.2
traitlets==4.3.2
tweepy==3.5.0
unicodecsv==0.14.1
urllib3==1.22
vaderSentiment==2.5
virtualenv==15.1.0
virtualenv-clone==0.2.6
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.13
widgetsnbextension==3.0.7
xlrd==1.1.0
